/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  margin: 0;
  height: 100vh;
  background-color: #282c35;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Add these styles to your CSS file or inline styles */
.custom-form {
  max-width: 400px;
  width: 100%; /* Ensure the form takes the full width of its container */
  margin-top: 20px;
}
.social-link {
  margin-right: 50px; /* Adjust the margin to add space between icons */
}
