.project-color {
  background-color: #282c35;
  margin-top: 0px;
  padding-top: 50px;
}
.footer-space {
  padding-bottom: 10px;
}
.project-container {
  max-width: 1000px; /* Set a maximum width for the project container */
  width: 100%; /* Take up 100% of the available width */
  margin: 0 auto; /* Center the container */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #ddd; /* Add a border with color and thickness */
  border-radius: 8px; /* Add border radius for a rounded appearance */
  padding: 20px; /* Add padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 6px; /* Border radius for the image */
  margin-top: 10px; /* Adjust margin for spacing between title and image */
}

.project-button {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-button:hover {
  background-color: #0056b3; /* Hover color */
}
.project-header {
  margin-bottom: 50px;
}
